<style>
  body {
    background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
  }
</style>

<div id="sign_up_form">
  <div class="login-block center_div">
    <h1><strong>Sign Up</strong></h1>
    <%= form_for :user, url: sign_up_path, method: :post do |f| %>
      <%= f.text_field :name, value: '', placeholder: 'Name', id: 'name', required: true %>
      <%= f.text_field :email, value: '', placeholder: 'Email', id: 'username', required: true %>
      <%= f.text_field :password, value: '', placeholder: 'Password', id: 'password', required: true %>
      <%= f.button 'Sign Up', type: 'submit', id: 'submit_button' %>
  <% end %>
  </div>
</div>