<!DOCTYPE html>
<html>
<head>
  <title>CsTemplate</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
  <ul class="nav navbar-nav">
    <% if logged_in? %>
      <li class="nav-item">
        <%= link_to 'Log Out', sign_out_path, class: 'nav-link' %>
      </li>
    <% else %>
      <% unless controller_name == 'sessions' && action_name == 'login' %>
        <li class="nav-item">
          <%= link_to 'Log In', login_path, class: 'nav-link' %>
        </li>
      <% end %>
      <% unless controller_name == 'sessions' && action_name == 'sign_up' %>
        <li class="nav-item">
          <%= link_to 'Sign Up', sign_up_path, class: 'nav-link' %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <% if logged_in? %>
    <div id="top_nav">
      <div class="top_nav_action">
        <%= link_to 'My Events', created_by_me_events_path, class: "#{'current_action' if controller_name == 'events'}" %>
        <%= link_to 'Venues', venues_index_path, class: "#{'current_action' if controller_name == 'venues'}" %>
      </div>
    </div>
  <% end %>
</nav>

<%= flash_messages %>
<%= yield %>

</body>
</html>
